@import '~antd/dist/antd.less';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  width: 100%;

  .ant-menu-item {
    padding: 0 5px;
  }

  .ant-menu-submenu-title {
    padding: 10px 20px;
  }

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline),
  .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: white;
  }

  .ant-menu-item a,
  .ant-menu-submenu-title a {
    padding: 10px 15px;
  }

  .ant-menu-horizontal {
    border-bottom: none;
    background: transparent;
  }

  .navbar__toggle {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease-in-out;
  }
}

.navbar__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 100%;
}

.navbar__menu {
  margin-left: auto;

  .ant-menu.ant-menu-dark {
    background-color: transparent;
  }
}


.navbar__drawer {
  max-width: 100%;
}

.ant-drawer {
  .ant-drawer-header {
    background-color: #003162;
  }

  .ant-drawer-title {
    color: white;
  }

  .ant-drawer-body {
    padding: 0;
    background-color: @gold-3;

    .ant-menu-horizontal {
      border-bottom: none;

      .ant-menu-item,
      .ant-menu-submenu {
        display: inline-block;
        width: 100%;
      }

      .ant-menu-item:hover {
        border-bottom-color: transparent;
      }
    }
  }
}


@media (max-width: @screen-md) {

  .navbar {
    .ant-menu-item,
    .ant-menu-submenu-title {
      padding: 1px 20px;
    }

    .navbar__toggle {
      display: flex;
    }
  }

  .navbar__menu {
    display: none;
  }

  .navbar__logo {
    padding: 10px 0;
  }


  .ant-drawer {

    .ant-drawer-content {
      height: auto !important;
    }

    .ant-drawer-close svg {
      fill: #08c;
    }
  }
}
