@import '~antd/dist/antd.less';
//@import '~antd/dist/antd.dark.less';

.container {
  width: 100%;
  margin: auto;
}

.make-container(@minWidth, @breakpoint) {
  @media (min-width: @minWidth) {
    .container {
      max-width: @breakpoint;
    }
  }
}

.make-container(@screen-xs-min, @screen-xs);
.make-container(@screen-sm-min, @screen-sm);
.make-container(@screen-md-min, @screen-md);
.make-container(@screen-lg-min, @screen-lg);
.make-container(@screen-xl-min, @screen-lg);
.make-container(@screen-xxl-min, @screen-lg); // Optional

.app {
  .ant-divider-horizontal.ant-divider-with-text {
    color: #b3b3b3;
  }
}

.app__header {
  &.ant-layout-header {
    height: auto;
    padding: 0 15px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 60px;
    background-color: #002b54;
    border-bottom: solid 1px #e8e8e8;
  }
}

.app__pleloader {
  text-align: center;
  margin: 30px 0;
}

.app__content {
  padding: 20px 5px;
}

.ant-layout-content {
  min-height: calc(100vh - 67px) !important;
}

.app__pagination {
  &.hide {
    display: none;
  }
}

@media (max-width: @screen-sm) {
  .app__content {
    padding: 15px;
  }
  .app {
    .ant-divider-horizontal.ant-divider-with-text {
      white-space: normal;
    }
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .app__header {
    .container {
      padding: 0;
    }
  }
}
